@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body{
  margin: 0;
}
.stripe {
  display: flex;
  flex-wrap: wrap;  
  box-sizing: border-box;
}
.box{
  flex: 1 1 220px;
  box-sizing: border-box;
  padding: 5px;
  font-family: Helvetica,'Titillium Web', sans-serif;
  font-weight: 300;
  text-align: center;
  color: wheat;
  background: rgb(197, 1, 66);
  transition: background-color .3s ease-out;
}
.box:hover{
  cursor: pointer;
  background:  #f05;
}
.box-2{
  background: rgb(156, 0, 52);
}