/* Colors 
#yellow rgba(255, 191, 0, 1);
#red rgba(221, 31, 31, 1);
#wheat rgba(255, 255, 255, 0.795);
#blue rgba(34, 116, 165, 1);
#green rgba(50, 147, 111, 1);
*/

/* Gobal styles
-------------------------*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
h1,
h2 {
  font-family: "Caveat", cursive;
  font-weight: 400;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 40px;
  margin-top: 0;
}
h3 {
  margin: 0;
}
a {
  color: rgba(255, 191, 0, 1);
}
a:hover {
  text-decoration: none;
}
.content-wrap {
  max-width: 960px;
  margin: 0 auto;
  padding: 50px;
  overflow: auto;
}

.uppercase {
  text-transform: uppercase;
}
.btn {
  display: inline-block;
  padding: 10px;
  background: rgba(221, 31, 31, 1);
  text-decoration: none;
  color: wheat;
  font-weight: 700;
}
.download {
  position: absolute;
  right: 2%;
  bottom: -3%;
}
/* Header and footer
-------------------------*/
.profile-img {
  border-radius: 50%;
}
header,
footer {
  background: rgba(34, 116, 165, 1);
  color: rgba(255, 255, 255, 0.795);
}

/* header */
header {
  padding-top: 50px;
  position: relative;
}
header h1,
header h2 {
  color: rgba(255, 255, 255, 0.795);
  margin: 0;
}

/* footer */
footer {
  text-align: center;
}
.contact-info a {
  padding: 10px;
  display: inline-block;
}
.contact-info a {
  color: wheat;
}

/* Navigation 
-------------------------*/
nav {
  text-align: center;
  position: fixed;
  background: rgba(34, 116, 165, 1);
  width: 100%;
  top: 0;
}
nav a {
  display: inline-block;
  padding: 15px 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

/* Work Experience
-------------------------*/
.work {
  background: rgba(50, 147, 111, 1);
}
h3 ~ p {
  margin: 0;
}
h3+p{
  margin-top: 10px;
}
.job-description {
  margin-bottom: 25px;
}
.job-description p:first-of-type {
}

/* Education
-------------------------*/
.education {
  color: wheat;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../img/city.jpeg) no-repeat fixed right center / cover;
}

p + h3 {
  margin-top: 30px;
}


/* Media Queries 
-------------------------------*/
@media (min-width:800px) {
  .col-narrow {
    float: left;
    width: 30%;
  }
  .col-wide {
    float: left;
    width: 70%;
    padding-left: 30px;
  }
}
@media(max-width:799px){
  .profile-img{
    width: 200px;
  }
  header{
    text-align: center;
  }
}